@tailwind base;
@tailwind components;
@tailwind utilities;
@import "@/public/styles/github-markdown.css";

/* 解决scrollbar出现影响布局的问题 */
body {
  width: 100vw;
  overflow-x: hidden;
  position: absolute;
  @apply bg-background-light;
}

.dark body {
  @apply bg-background-dark;
}

html,
body {
  @apply scrollbar-thin scrollbar-track-gray-200 scrollbar-thumb-gray-400;
}

/* 字体配置 */
@font-face {
  font-family: "LXGW WenKai";
  font-display: swap;
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Roboto", "LXGW WenKai", "KaiXinSong", "SimKai", "楷体",
    "楷体_GB2312", ui-serif, serif;
}

/* 盒子基础样式 */
.markdown-body {
  font-family: "Roboto", "LXGW WenKai", "KaiXinSong", "SimKai", "楷体",
    "楷体_GB2312", ui-serif, serif;
}

.dark .markdown-body {
  color: rgb(229, 231, 235);
  /* background-color: rgba(31, 41, 55, 0.5); */
}
