@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  overflow-y: auto;
  overflow-x: hidden;
}

:root body {
  position: absolute;
}

html {
  overflow-y: scroll; /* 始终显示垂直滚动条 */
}
/* .scrollbar {
  @apply ; /* 根据需要调整颜色 */

/* 使全局应用该样式 */
html,
body {
  @apply scrollbar-thin scrollbar-thumb-gray-400 scrollbar-track-gray-200; /* 或者使用直接的类名 */
}

body {
  /* font-family: "LXGW WenKai", sans-serif; */
  background-color: rgba(255, 245, 230, 0.8);
  width: 100vw;
  overflow: hidden;
}

.markdown-body {
  padding: 2rem;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.5);
}

.markdown-body pre {
  background-color: rgba(246, 248, 250, 0.8);
}
